
html, 
body {
    height: 100%;
}
#cobweb{
   position:absolute;
  float:left;
  top:300px;
  left:5px;
  font-weight:bold;
  color: #003366;

}
#cobb{
   position:relative;
  top:-700px;
  left:-130px;
  font-weight:bold;
  color: #003366;

}
#forgot{
  position:relative;
  left:-30px;
}
#pro{
  color:white;
  text-decoration:none
}
#pro:hover{
  color:blue;
  text-decoration:none
}
p{
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida;
  line-height: 200%;
  font-size:15px;
  text-align:left;
}
p.small {
    line-height: 200%;
}
p.big {
    line-height: 200%;
} 
h2{
font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida;
  line-height: 200%;
}
h2{
font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida;
  line-height: 200%;
}
h4{
font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida;
  line-height: 200%;
}
h5{
  font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida;
  line-height: 200%;
}

/*uttam*/
#uttamcontainer
{
  
  width:1100px;
  margin:0 auto;        /*Moves 0px from left*/
  clear:both; 
  height: 650px;
}
#uttambody{
  width:100%;
  height:auto;
}
#cont_tit{
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida;
  text-decoration:none;
  color:black;
  
}
#uttamhome{
  position: relative;
  top:-122px;
  left:523px;
  }
  #uttamsocial{ 
  position: relative;
  top:-165px;
  left:100px;
  }
  .follow{
     position: relative;
 left:268px;
 top:-32px;
  }
  #fblike {
  position: relative;
  top:-195px;
  left:285px;
}
.fb-like{
   position:relative;
   top:5px;
    overflow: hidden;
}
#query{
  position:relative;
  top:-270px;
  left:700px;


}
#query h5{
   font-weight:bold;
  color: #003366;
}
  #content {
  position: relative;
  top:-898px;
  left:40px;
  width:1019px;
  overflow-y:hidden;
  overflow:hidden; 
}
#profile{
  width:1019px;
  height:30px;
  right:10px;
  top:0px;
  }
    #taskbar{
    position:relative;
    width:1019px;
    height:30px;
    float:top;
    background-color: rgba(0, 0, 0, 0.7);
  }
    #mainpage{
    position:relative;
    width:959px;
    height:416px;
    float:right;
    overflow: auto;
    overflow-x: hidden; 
    background: url("../svg/mainbg.png");
  }
  #counter{
  position:relative;
  top:-225px;
  left:880px;
}
#thumbnail2:hover {
    position:relative;
    top:-5px;
    left:-5px;
    width:60px;
    height:auto;
   
    z-index:999;
}
  #sidebar{
    position:relative;
    width:60px;
    height:416px;
    float:left;
    background-color:  rgba(0, 0, 0, 0.7);
  }
/*Mobile*/

/*Uttam CSS*/

  .test + .tooltip > .tooltip-inner {
    opacity: 0.8;
      background-color: black; 
      color: #FFFFFF; 
      border: 1px solid white; 
      padding: 10px;
      font-size: 15px;
      width:100px;
      font-weight:bold;
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }

/*Mobile*/

/*Uttam CSS*/
#error{
  position:relative;
  top:-20px;
  padding-bottom: 20px;
  width:100%;
  left:-30px;
}
form label.error{
    font:12px Tahoma,sans-serif;
    display:block;
    color:#ED7476;
    margin-left:5px;
   
}
label.error {
    display:block;
    width:100%;
    
}
#preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #000000;
     z-index: 99;
    height: 100%;
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url('../img/loader.gif');
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }
.reg {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/register.png') center top no-repeat;
}
.reg:hover {
   background-image: url('../img/register-hover.png');
}
#reach{
  
  position:relative;
  top:-270px;
  left:180px;
  font-weight:bold;
  color: #003366;

}
#about{
   position:relative;
  top:-307px;
  left:300px;
}
#webteam{
   position:relative;
  top:-310px;
  left:700px;
  font-weight:bold;
  color: #003366;
}
/*Workshops*/
.ws {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/workshop.png') center top no-repeat;
}
.ws:hover {
   background-image: url('../img/workshop-hover.png');
}
.gst {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/guest.png') center top no-repeat;
}
.gst:hover {
   background-image: url('../img/guest-hover.png');
}
.acc {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/acco.png') center top no-repeat;
}
.acc:hover {
   background-image: url('../img/accohover.png');
}

/*Events*/
.ev {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/events.png') center top no-repeat;
}
.ev:hover {
   background-image: url('../img/events-hover.png');
}
/*Events*/
.tm {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/teams.png') center top no-repeat;
}
.tm:hover {
   background-image: url('../img/teams-hover.png');
}
/*Contact*/
.sp {
 margin-bottom: 3px;
 width: 50px;
 height:50px;
 display:block;
 background:transparent url('../img/sponsors.png') center top no-repeat;
}
.sp:hover {
   background-image: url('../img/sponsorshover.png');
}
#loginlink{
  
}
#show_login{
  text-decoration:none;
  position:absolute;

  right:120px;
  float:right;
  bottom:7px;
  color:white;
}
 .inline { display:inline-block; }
      /* IE6-7 */
      @media,
          {
          .inline { display: inline; margin-right:10px; }
          }
          a {
  color: #900;
  text-decoration: none;
}

a:hover {
    position: relative;
}

/*a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}*/
#show_logout{
  
 text-decoration:none;
  position:relative;
  left:800px;
bottom:-3px;
color:white;

}

#show_logout:hover{
  text-decoration:none;
  position:relative;
  bottom:-3px;
  left:800px;
color:#00A1B9;

}
#show_login:hover{
  text-decoration:none;
  position:absolute;
  right:120px;
  bottom:7px;
  float:right;  
  color:#00A1B9;
  
}
.contlist{
 

 


}


#content1{

  position: absolute;
  z-index: 5;
  height:446px;
  width:1020px;
   background: url("../svg/default.svg");
  top:42px;
  left:173px;
}

#pro{
  color:black;
  width:100px;
  height:5px;
}
#img{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #desktop{
    position:relative;
    width:100%;
    height:416px;
    float:bottom;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #popup_box {

    display:none; /* Hide the DIV */
    position:fixed;  
    position:absolute; /* hack for internet explorer 6 */  
    height:200px;  
    width:500px;  
    background:#FFFFFF;  
    left: 240px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
   
    /* additional features, can be omitted */
    border:2px solid #ff0000;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
   
}

#container {
    background: #d2d2d2; /*Sample*/
    width:100%;
    height:100%;
}

a{ 
cursor: pointer; 
text-decoration:none; 
}

/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}

  #loginform
{
  position:relative;
  z-index: 20;
   width:500px;
   height:330px;
   margin-top:100px;
   background-color:#585858;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   font-family:helvetica;
   visibility:hidden;
   display:none;
}
#loginform #close_login
{
   position:absolute;
   top:140px;
   left:735px;
   width:15px;
   height:15px;
}
#loginform p
{
   margin-top:40px;
   font-size:22px;
   color:#E6E6E6;
}
#loginform #login
{
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #password
{
   margin-top:5px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #dologin
{
   margin-left:-5px;
   margin-top:10px;
   width:250px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#E6E6E6;
   background-color:grey;
   font-size:20px;
}

.slider {
  width: 50px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  position:absolute;
  top:120px;
  float:left;
}
.slider div {
  background-color: white;
/*  border-radius:10px;*/
  width: 60px;
  height:100px;
  display: inline-block;
  display: none;
  position:relative;
  left:-10px;
}
.slider img {
  height: auto;
  width:130px;
/*  border-radius:10px;*/
}
/* Base styles for the element that has a tooltip */
.notification {
  width: 120px;
  height: 100px;
  background-color: ;
  margin: 0 auto;
  color:white;
  text-align: center;
   position: absolute;
   top:100px;
   right:0px;
}

.notification div{
  float:right;
  background-color: grey;
  position:relative;
  right:5px;
  width:125px;
  height:130px;
  display:inline-block;
  display:none;
  opacity: 0.8;
      background-color: black; 
      color: #FFFFFF; 
      border: 1px solid white; 
      padding: 10px;
      font-size: 15px;
    
      font-weight:normal;
      border-radius: 10px;
}
